/*--Initial----------------------------------------------------------------------------------------------------------------------------------------*/
body{
    background-image:linear-gradient(rgb(85,70,255),rgb(80,65,255));
    background-color:rgb(85,70,255);
    font-family:"Inter";
    user-select:none;
    overflow:hidden;
    height:100vh;
    padding:0px;
    margin:0px;
}
.appHolder{
    position:absolute;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
}
.appHead{
    box-shadow:0px 0px 1vh rgba(0,0,0,0.2);
    position:absolute;
    height:8vh;
    width:100%;
    z-index:1;
    left:0px;
    top:0px;  
}
.appBody{
    background-image:linear-gradient(rgb(80,65,250),rgb(75,60,250));
    background-color:rgb(80,65,250);
    position:absolute;
    overflow-x:hidden;
    overflow-y:auto;
    height:92vh;
    width:100%;
    z-index:0;
    left:0px;
    top:8vh;
    

    justify-content:center;
    align-items:flex-start;
    display:flex;
}

/*--Header-----------------------------------------------------------------------------------------------------------------------------------------*/
.headerTitle{
    font-family:"Inter Bolder";
    color:rgb(255,255,255);
    justify-content:center;
    align-items:center;
    position:absolute;
    font-weight:bold;
    font-size:5vh;
    display:flex;
    height:100%;
    width:20vh;
    left:0px;
    top:0px;
}
.headerButtonHolder{
    background-color:rgb(85,70,255);
    justify-content:center;
    align-items:center;
    position:absolute;
    padding-right:1vh;
    padding-left:2vh;
    display:flex;
    height:100%;
    width:8vh;
    right:0px;
    top:0px;
}

/*--Body-------------------------------------------------------------------------------------------------------------------------------------------*/
.toDoHolder{
    justify-content:center;
    align-items:flex-start;
    margin-bottom:6vh;
    flex-wrap:wrap;
    display:flex;
    padding:2vh;
}
.noToDos{
    color:rgb(255,255,255);
    font-size:2vh;
}

/*--Buttons----------------------------------------------------------------------------------------------------------------------------------------*/
.roundButton{
    -webkit-tap-highlight-color:transparent;
    background-position:center center;
    background-repeat:no-repeat;
    transform:translateY(0px);
    background-size:70%;
    border-radius:100%;
    aspect-ratio:1;
    cursor:pointer;
    width:100%;
}
.headerButton{
    background-image:url("./images/add.png");
    margin:1vh;
}
.deleteButton{
    background-image:url("./images/remove.png");
}

@media(hover:hover){
    .roundButton:hover{
        transform:translateY(-1px);
        transition:ease-in 0.1s;
    }
    .headerButton:hover{background-color:rgb(100,85,255)}
    .deleteButton:hover{background-color:rgb(245,245,245)}
}

.roundButton:active{
    transform:translateY(1px);
    transition:ease-out 25ms;
}
.headerButton:active{background-color:rgb(70,55,245)}
.deleteButton:active{background-color:rgb(235,235,235)}

/*--Animations-------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes fadeIn{
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fadeOut{
    from {opacity:1;}
    to {opacity:0;}
}

/*--Fonts------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
    font-family:"Inter";
    src:url("./fonts/Inter-Regular.ttf");
}
@font-face{
    font-family:"Inter Bold";
    src:url("./fonts/Inter-Bold.ttf");
}
@font-face{
    font-family:"Inter Bolder";
    src:url("./fonts/Inter-ExtraBold.ttf");
}